<h3>Clinic Info</h3>
<%= f.input :clinic_name %>
<%= f.input :clinic_street_address %>
<%= f.input :clinic_street_address_continued %>
<%= f.input :clinic_state %>
<%= f.input :clinic_zip %>

<h3>Contact info </h3>
<%= f.input :contact_name %>
<%= f.input :contact_title %>
<%= f.input :contact_phone %>
<%= f.input :contact_email %>

<h3>Contact Population Characteristics</h3>
<%= f.input :panda %>

<%= f.button :submit %>
